.container{
    margin-top: 110px;
}

.container h2{
   color: #25883D;
   margin-bottom: 50px;
   font-size: 30px;
}
.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    box-shadow: 5px 5px 30px 3px #e6fbeb;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .container{
        margin-top: 50px;
    }

    .container h2{
        margin-bottom: 30px;
        font-size: 1.7rem;
    }
    .cards{
        flex-wrap: wrap;
    }

    .card{
        padding: 15px 45px;
    }
}

@media screen and (max-width: 900px) {
    .container{
        margin-top: 50px;
    }

    .container h2{
        margin-bottom: 30px;
        font-size: 1.7rem;
    }
    .card{
        padding: 15px 45px;
    }
}