.container{
    margin-top: 110px;
}

.container h2{
   color: #25883D;
   margin-bottom: 50px;
   font-size: 30px;
}
.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    box-shadow: 5px 5px 30px 3px #e6fbeb;
    border-radius: 10px;
}