.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.card{
    box-shadow: 5px 5px 30px 3px #e6fbeb;
    width: 160px;
    padding: 15px 0;
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .container{
        margin-top: 70px;
    }

    .card{
        box-shadow: 3px 3px 20px 2px #e6fbeb;
        width: 30%;
        padding: 10px 0;
        font-size: 0.9rem;
        font-weight: 500;
    }
}